flow-latest.json
[
    {
        "id": "b53b11cae0d97b27",
        "type": "tab",
        "label": "MB28 IOTFM Subscribe",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2349c18872afe854",
        "type": "tab",
        "label": "AB-PLC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "20fd7ae5.fca516",
        "type": "ui_group",
        "name": "AB 1769 CompactLogix PLC",
        "tab": "7bc02257.c53f9c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7bc02257.c53f9c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cd87a02d64a74845",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "32d9f4a243b5afde",
        "type": "eth-ip endpoint",
        "address": "169.254.102.255",
        "slot": "0",
        "cycletime": "500",
        "name": "AB-PLC",
        "vartable": {
            "": {
                "but1": {
                    "type": "BOOL"
                },
                "but2": {
                    "type": "BOOL"
                },
                "delta": {
                    "type": "DINT"
                },
                "temp": {
                    "type": "REAL"
                }
            }
        }
    },
    {
        "id": "cdf9a87ae4375ae7",
        "type": "mqtt-broker",
        "name": "MB28 IOTFM Server",
        "broker": "mb28.iotfm.org",
        "port": "8883",
        "tls": "dee852e67cc7ae6a",
        "clientid": "assetId",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "dee852e67cc7ae6a",
        "type": "tls-config",
        "name": "assetIdcerts",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "baad8e8914dd4ff0526b76b61b5c1bbfe24f517628039f7667d2b573fc747cb5-certificate.pem.crt",
        "keyname": "baad8e8914dd4ff0526b76b61b5c1bbfe24f517628039f7667d2b573fc747cb5-private.pem.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "a3a35c937fd47777",
        "type": "mqtt in",
        "z": "b53b11cae0d97b27",
        "name": "MB28-IOTFM",
        "topic": "Asset/AB-1769-L36ERM/Button-1",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdf9a87ae4375ae7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 260,
        "wires": [
            [
                "2e6a2c12a7bb8991"
            ]
        ]
    },
    {
        "id": "2e6a2c12a7bb8991",
        "type": "debug",
        "z": "b53b11cae0d97b27",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 260,
        "wires": []
    },
    {
        "id": "c1b1ce9658b98da8",
        "type": "mqtt in",
        "z": "b53b11cae0d97b27",
        "name": "MB28-IOTFM",
        "topic": "Asset/AB-1769-L36ERM/Button-2",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdf9a87ae4375ae7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 340,
        "wires": [
            [
                "2e6a2c12a7bb8991"
            ]
        ]
    },
    {
        "id": "e273496372fbb80b",
        "type": "mqtt in",
        "z": "b53b11cae0d97b27",
        "name": "MB28-IOTFM",
        "topic": "Asset/AB-1769-L36ERM/Temp",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdf9a87ae4375ae7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 420,
        "wires": [
            [
                "2e6a2c12a7bb8991"
            ]
        ]
    },
    {
        "id": "7c05507c74c51d36",
        "type": "eth-ip in",
        "z": "2349c18872afe854",
        "endpoint": "32d9f4a243b5afde",
        "mode": "all",
        "variable": "but1",
        "program": "",
        "name": "1769-L36ERM",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "662d89dc96e6299b",
                "77e60242b719ab78"
            ]
        ]
    },
    {
        "id": "4dae81b1bd931b4e",
        "type": "ui_template",
        "z": "2349c18872afe854",
        "group": "20fd7ae5.fca516",
        "name": "Digital Out 1 Status",
        "order": 9,
        "width": 0,
        "height": 0,
        "format": "<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: msg.payload })\">\n\n\n<svg  width=\"260px\" height=\"90px\" version=\"1.1\" viewBox=\"0 0 800 200\">\n <g id=\"Button_Long\">\n\n  <rect fill=\"#333333\" width=\"800\" height=\"200\"/>\n  <g ng-style=\"{fill: (msg.payload || 0) ? 'lime' : 'red'}\">\n    <rect width=\"800\" height=\"200\" rx=\"80\" ry=\"80\"/>\n  </g>\n\n  <rect fill=\"#333333\" x=\"11\" y=\"10\" width=\"778\" height=\"180\" rx=\"90\" ry=\"90\"/>\n  <g ng-style=\"{fill: (msg.payload || 0) ? 'lime' : 'red'}\">\n\n    <text x=\"400\" y=\"125\" style=\"text-anchor:middle\"  font-weight=\"bold\" font-size=\"80\" font-family=\"Arial\">{{(msg.payload||0)? \"ON\" : \"OFF\"}} </text>\n    </g>\n  </g>\n</svg>\n\n</md-button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 670,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "cd01a8d5444643a0",
        "type": "ui_template",
        "z": "2349c18872afe854",
        "group": "20fd7ae5.fca516",
        "name": "Digital Out 2 Status",
        "order": 9,
        "width": 0,
        "height": 0,
        "format": "<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: msg.payload })\">\n\n\n<svg  width=\"260px\" height=\"90px\" version=\"1.1\" viewBox=\"0 0 800 200\">\n <g id=\"Button_Long\">\n\n  <rect fill=\"#333333\" width=\"800\" height=\"200\"/>\n  <g ng-style=\"{fill: (msg.payload || 0) ? 'lime' : 'red'}\">\n    <rect width=\"800\" height=\"200\" rx=\"80\" ry=\"80\"/>\n  </g>\n\n  <rect fill=\"#333333\" x=\"11\" y=\"10\" width=\"778\" height=\"180\" rx=\"90\" ry=\"90\"/>\n  <g ng-style=\"{fill: (msg.payload || 0) ? 'lime' : 'red'}\">\n\n    <text x=\"400\" y=\"125\" style=\"text-anchor:middle\"  font-weight=\"bold\" font-size=\"80\" font-family=\"Arial\">{{(msg.payload||0)? \"ON\" : \"OFF\"}} </text>\n    </g>\n  </g>\n</svg>\n\n</md-button>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 670,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "30be04283a674a38",
        "type": "ui_chart",
        "z": "2349c18872afe854",
        "name": "",
        "group": "20fd7ae5.fca516",
        "order": 16,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "662d89dc96e6299b",
        "type": "split",
        "z": "2349c18872afe854",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 250,
        "y": 280,
        "wires": [
            [
                "400c73992107232e"
            ]
        ]
    },
    {
        "id": "400c73992107232e",
        "type": "switch",
        "z": "2349c18872afe854",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "but1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "but2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "temp",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "4dae81b1bd931b4e",
                "b420215e3f6136a9"
            ],
            [
                "cd01a8d5444643a0",
                "6c7fca5dcee0f19c"
            ],
            [
                "30be04283a674a38",
                "2ef7a82187a9c693"
            ]
        ]
    },
    {
        "id": "b420215e3f6136a9",
        "type": "function",
        "z": "2349c18872afe854",
        "name": "Button 1 Message",
        "func": "global.get\nvar message = {};\nvar dataItemId = \"Button-1\"\nvar topic = 'Asset/'+ global.get(\"assetId\") + '/' + dataItemId;\nos = context.global.os;\n\nvar now = new Date();\n\nmessage[\"assetId\"] = global.get(\"assetId\");\nmessage[\"dateTime\"] = now.toISOString();\nmessage[\"dataItemId\"] = dataItemId;\nmessage[\"value\"] = msg.payload;\nmessage[\"messageId\"] = msg._msgid;\n//message[\"IPAddress\"] = os.networkInterfaces().wlan0[0].address;\n//message[\"MACAddress\"] = os.networkInterfaces().wlan0[0].mac;\n\nreturn [{\"topic\": topic, \"payload\": JSON.stringify(message)}]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 180,
        "wires": [
            [
                "0df14bc1caeadadf"
            ]
        ]
    },
    {
        "id": "0df14bc1caeadadf",
        "type": "mqtt out",
        "z": "2349c18872afe854",
        "name": "MB28-IOTFM-MQTT",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cdf9a87ae4375ae7",
        "x": 960,
        "y": 240,
        "wires": []
    },
    {
        "id": "77e60242b719ab78",
        "type": "change",
        "z": "2349c18872afe854",
        "name": "Set global asset ID",
        "rules": [
            {
                "t": "set",
                "p": "assetId",
                "pt": "global",
                "to": "AB-1769-L36ERM",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6c7fca5dcee0f19c",
        "type": "function",
        "z": "2349c18872afe854",
        "name": "Button 2 Message",
        "func": "global.get\nvar message = {};\nvar dataItemId = \"Button-2\"\nvar topic = 'Asset/'+ global.get(\"assetId\") + '/' + dataItemId;\nos = context.global.os;\n\nvar now = new Date();\n\nmessage[\"assetId\"] = global.get(\"assetId\");\nmessage[\"dateTime\"] = now.toISOString();\nmessage[\"dataItemId\"] = dataItemId;\nmessage[\"value\"] = msg.payload;\nmessage[\"messageId\"] = msg._msgid;\n\n//message[\"IPAddress\"] = os.networkInterfaces().wlan0[0].address;\n//message[\"MACAddress\"] = os.networkInterfaces().wlan0[0].mac;\n\nreturn [{\"topic\": topic, \"payload\": JSON.stringify(message)}]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 300,
        "wires": [
            [
                "0df14bc1caeadadf"
            ]
        ]
    },
    {
        "id": "2ef7a82187a9c693",
        "type": "function",
        "z": "2349c18872afe854",
        "name": "Temp Message",
        "func": "global.get\nvar message = {};\nvar dataItemId = \"Temp\"\nvar topic = 'Asset/'+ global.get(\"assetId\") + '/' + dataItemId;\nos = context.global.os;\n\nvar now = new Date();\n\nmessage[\"assetId\"] = global.get(\"assetId\");\nmessage[\"dateTime\"] = now.toISOString();\nmessage[\"dataItemId\"] = dataItemId;\nmessage[\"value\"] = msg.payload;\nmessage[\"messageId\"] = msg._msgid;\n//message[\"IPAddress\"] = os.networkInterfaces().wlan0[0].address;\n//message[\"MACAddress\"] = os.networkInterfaces().wlan0[0].mac;\n\nreturn [{\"topic\": topic, \"payload\": JSON.stringify(message)}]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 420,
        "wires": [
            [
                "0df14bc1caeadadf"
            ]
        ]
    },
    {
        "id": "452152916582ee63",
        "type": "comment",
        "z": "2349c18872afe854",
        "name": "ETH/IP Info",
        "info": "Inputs: \n - PLC Data\n - IP Address of PLC\n - List of PLC tags (variables)\n - Mode for reading tags\n - Cycle time to scan for changes",
        "x": 90,
        "y": 340,
        "wires": []
    }
]